# Git
.git
.gitignore
.github

# Environnements virtuels Python
__pycache__
*.pyc
env/
venv/
.venv

# IDE & Fichiers système
.vscode/
.idea/
.DS_Store
Thumbs.db

# Fichiers de développement local
.env
.env.*
!/.env.example
!/.env.railway

# Logs
*.log
logs/

# Rapports de test et de couverture
.pytest_cache/
.coverage
htmlcov/
.tox/

# Fichiers temporaires
*.tmp
temp/
tmp/
